<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"  routerLinkActive="active">
          <!-- property binding -->
          <a  class="nav-link" 
              [routerLink]="[ '/followers']"
              [queryParams] = "{page:1, order:'newest'}"
              >Follower</a>
        </li>
        <li  routerLinkActive="active" class="nav-item">
          <!-- standard angular link -->
          <a  class="nav-link" routerLink="/posts">Posts</a>
        </li>
      </ul>
    </div>
  </nav>