<div class="container">
<p>
  Welcome to change passward form
</p>

<form [formGroup]="form" (submit)="onSubmit()">
  <div class="alert alert-danger" *ngIf="passNotMatch">

    Passwords does't match - on submit - simpler

  </div>

  <div class="form-group">
    
    <label for="old-password">Username</label>
    <input name="old-password"
      formControlName="old-password"
      class="form-control"
      type="text">
    <!-- form.get ... - when the function is not define in the component ie get oldPasswod() {return this.form.get('old-password')};-->
      <div *ngIf="form.get('old-password').touched && form.get('old-password').invalid" class="alert alert-danger">
          <div *ngIf="form.get('old-password').errors.required">User name is required</div>
          <div *ngIf="form.get('old-password').errors.oldPasswardExists">User name desn't exists</div>
      </div>

      <label for="newPassword">New passward</label>
      <input 
      formControlName="newPassword"
      class="form-control"
      type="password" name="newPassword" id="newPassword">

      <!-- in this case I use newPassword function -->

      <div *ngIf="newPassword.touched && newPassword.invalid" class="alert alert-danger">
          <div *ngIf="newPassword.errors.required">Pasword is required</div>
          <div *ngIf="newPassword.errors.minlength">password min lengths ({{ newPassword.errors.minlength.requiredLength }})</div>
      </div>
      
      <label for="new-pass2">New passward confirm</label>
      <input 
      formControlName="new-pass2"
      class="form-control"  
      type="password" name="new-pass2" id="new-pass2">

      <div *ngIf="form.get('new-pass2').touched && form.get('new-pass2').invalid" class="alert alert-danger">
          <div *ngIf="form.get('new-pass2').errors.required">Field is required</div>
          <div *ngIf="form.get('new-pass2').errors.minlength">password min lengths ({{ form.get('new-pass2').errors.minlength.requiredLength }})</div>
      </div>

      <div class="alert alert-danger" *ngIf="form.get('new-pass2').valid && form.invalid && form.hasError('passwordShoulMatch')">

          Passwords does't match - on submit - second one
      
        </div>
      
    </div>

    <button class="btn btn-primary" type="submit">Confirm</button>
</form>

</div>